<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951539218360-9m2pvocfvi27ftki43c9e8ma4hm4nvca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951539218360-9m2pvocfvi27ftki43c9e8ma4hm4nvca</string>
	<key>API_KEY</key>
	<string>AIzaSyCjI3psz820rKcY1bQjSqUo9qa5n_vXZJM</string>
	<key>GCM_SENDER_ID</key>
	<string>951539218360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DmitryGorbunow.IntervalRunning</string>
	<key>PROJECT_ID</key>
	<string>intervalrunning-f53cd</string>
	<key>STORAGE_BUCKET</key>
	<string>intervalrunning-f53cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951539218360:ios:ccb7290e134e0a1b5a414d</string>
</dict>
</plist>